# OS files
.DS_Store
Thumbs.db
*~

# Editor files
*.swp
*.swo
.vscode/
.idea/
*.sublime-*

# Build artifacts
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log
